<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <div>
  <app-homecomponent></app-homecomponent>

<h4><div align="center">Competency mapping is the process of identifying the specific skills, knowledge, abilities, and 
  behaviours required to operate effectively in a specific trade, profession, or job position..
  All of our competency maps are all-encompassing, including professional, personal, and technical competencies.</div></h4>

  <p>Competency Mapping is a process of identifying key competencies for an organization and/or a job and 
      incorporating those competencies throughout the various processes (i.e. job evaluation, training, recruitment) of the
       organization. A competency is defined as a behavior (i.e. communication, leadership) rather than a skill or ability.
  
        The steps involved in competency mapping with an end result of job evaluation include the following:
        
        Conduct a job analysis by asking incumbents to complete a position information questionnaire (PIQ). 
        The PIQ can be provided for incumbents to complete, or you can conduct one-on-one interviews using the PIQ as a guide. 
        The primary goal is to gather from incumbents what they feel are the key behaviors necessary to perform their respective jobs.
        Using the results of the job analysis, you are ready to develop a competency based job description. 
        This is developed by carefully analyzing the input from the represented group of incumbents and converting it to standard competencies.
        With a competency based job description, you are on your way to begin mapping the competencies throughout your HR processes.
       The competencies of the respective job description become your factors for assessment on the performance evaluation. Using competencies will help 
       guide you to perform more objective evaluations based on displayed or not displayed behaviors.
        Taking the competency mapping one step further, you can use the results of your evaluation to identify in what competencies
         individuals need additional development or training. This will help you focus your training needs on the goals of the position and company
          and help your employees develop toward the ultimate success of the organization.</p>
  <router-outlet></router-outlet> 
  
  </div>

  </body>
  </html>
